
{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<table>
                         <tr>
                             <th style="color:#98b6b4">Nom:</th>
                             <td> {{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder':'Entrer votre nom'}}
                                 ) }} </td>
                         </tr>
<tr>
    <td></td>
    <td>
        {% if not form.nom.vars.valid %}
            <div class="alert alert-danger">
                {{ form_errors(form.nom) }}
            </div>
        {% endif %}
    </td>
</tr>

                        <tr>
                        <th style="color:#98b6b4">Prix:</th>
 <td>{{ form_widget(form.prix,{'attr':{'class':'form-control','placeholder':'Entrer votre prix'}}) }} </td>
                        </tr>
<tr>
<td></td>
    <td>   {% if not form.prix.vars.valid %}
            <div class="alert alert-danger">
                {{ form_errors(form.prix) }}
            </div>

        {% endif %} </td>
</tr>

<tr>
    <th style="color:#98b6b4">Catégories:</th>
  <td> {{ form_widget(form.categories,{'attr':{'class':'form-control','placeholder':'Entrer votre catégorie'}}) }} </td>

</tr>
    <tr>
        <td></td>
        <td>  {% if not form.categories.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form.categories) }}
                </div>

            {% endif %} </td>
    </tr>

<tr>

    <th style="color:#98b6b4">description:</th>

   <td>  {{ form_widget(form.description,{'attr':{'class':'form-control','placeholder':'Entrer votre description'}}) }} </td>

</tr>
    <tr>
        <td></td>
        <td>  {{ form_errors(form.description) }} </td>
    </tr>
    <tr>

        <th style="color:#98b6b4">image:</th>

        <td>  {{ form_widget(form.imageFile) }} </td>

    </tr>

{#<button class="btn"> {{ button_label|default('Envoyer') }}</button>#}
</table>
<button type="btn" class="btn btn-primary"> {{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
