{% extends 'base.back.html.twig' %}

{% block title %}Abonnement index{% endblock %}

{% block body %}

    <h1 style="color: #d46973">Liste des abonnements</h1>
    <a href="{{ path('livraison_list') }}"class="btn btn-success">pdf</a>
    <a href="{{path('TrierParNom')}} " class="btn btn-success btn-sm"  href="https://startbootstrap.com/theme/sb-admin-pro"><i class="align-middle" ></i>Trier par Prix</a>
    <p style="margin-left: 950px"> <input  id="myInput"  type="text" placeholder="Rechercher..">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Categories</th>
                <th>Description</th>
                <th>image</th>
                <th>actions</th>


            </tr>
        </thead>

        <tbody>
    <tbody  id="myTable">
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.id }} <br/></td>
                <td>{{ abonnement.nom }} <br/></td>
                <td>{{ abonnement.prix }} <br/></td>
                <td>{{ abonnement.categories }}</td>
                <td>{{ abonnement.description }}</td>
                <td><img style="width: 150px;" src="/uploads/{{ abonnement.getPhoto() }}"></td>

                <td>
  {#                       <a href="{{ path('abonnement_show', {'id': abonnement.id}) }}">Afficher</a>#}
                    {#  <a href="{{ path('abonnement_edit', {'id': abonnement.id}) }}">Modifier</a>#}

                    <form  action="{{ path('abonnement_show', {'id': abonnement.id})}}" >
                        <button type="submit" name="submitAction"  value="modifier" class="btn btn-info">Afficher</button>
                    </form>
                </td>
               <td>
                   <form method="post" action="{{ path('abonnement_edit', {'id': abonnement.id}) }}" >
                       <button type="btn" class="btn btn-warning"> {{ button_label|default('Modifier') }}</button>
                   </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>

        {% endfor %}
        {{ knp_pagination_render(abonnements) }}
    </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{#    <div class="pagination"> {{ knp_pagination_render(abonnements) }} </div>#}

     {#   <a href="{{ path('abonnement_new') }}">Créer nouvelle</a>#}
<form method="post" action="{{ path('abonnement_new') }}" >
<button type="btn" class="btn btn-success"> {{ button_label|default('Ajouter') }}</button>
</form>

    <button  class="btn btn-info mr-2" onclick="window.print()" ><i class="fa fa-print" aria-hidden="true"></i></i>  Imprimer</button>


    {% block b1 %}
        {% endblock %}
{% endblock %}
