{% extends 'base.front.html.twig' %}

{% block title %}Abonnement index{% endblock %}

{% block b1 %}

    <section class="section" id="trainers" >

        <div class="container">
            <div class="row">
                {% for p in abonnements %}
                    <div class="col-lg-4">
                        <div class="trainer-item" >
                            <div class="image-thumb">

                                <img src="../uploads/{{ p.photo }}">
                            </div>
                            <div class="down-content">
                                <span> {{ p.nom }}</span>
                                <h4>{{ p.prix }}</h4>

                                <h4>{{ p.description }}</h4>
                                <p>{{ p.categories }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}

                    <h1 >vide</h1>

                {% endfor %}

            </div>
        </div>
    </section>
    <table class="table">
        <thead>
        <tr>
            <th>Delai</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Nom-abonnement</th>
        </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.delai ? offre.delai|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offre.nom }}</td>
                <td>{{ offre.Description }}</td>
                <td>{{ offre.getNomAbonnement.getNom()}}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#   <a href="{{ path('abonnement_new') }}">Créer nouvelle</a>#}
    <form method="post" action="{{ path('abonnement_new') }}" >
    </form>

{% endblock %}
