{% extends 'base.front.html.twig' %}

{% block title %}Abonnement index{% endblock %}

{% block b1 %}

    <section class="section" id="trainers" >

        <div class="container">

            <div class="row">
                {% for p in abonnements %}
                    <div class="col-lg-4">
                        <div class="trainer-item" >
                            <div class="image-thumb">

                                <img src="../uploads/{{ p.photo }}">
                            </div>
                            <div class="down-content">

                             <th> <span> Nom:</span></th>
                                <h4> {{ p.nom }}</h4>
                                <th> <span> Prix-dt:</span></th>
                                <h4>{{ p.prix }}</h4>
                                    <th> <span>Espaces:</span></th>
                                    <h4>{{ p.description }}</h4>
                                    <th> <span> Catégories:</span></th>
                                <h4>{{ p.categories }}</h4>


                            </div>
                        </div>
                    </div>
                {% else %}

                    <h1 >vide</h1>

                {% endfor %}

            </div>
        </div>
    </section>
    <section class="section" id="trainers" >
    <div class="container">
        <div class="row">
                        {% for offre in offres %}
                            <div class="col-lg-4">
                                <div class="trainer-item" >
                                    <div class="image-thumb">
                                    </div>
                                    <div class="down-content">

                                        <th> <span> delai:</span></th>
                                        <h4> {{ offre.delai ? offre.delai|date('Y-m-d H:i:s') : '' }}</h4>
                                        <th> <span> nom:</span></th>
                                        <h4>{{ offre.nom }}</h4>
                                        <th> <span>description:</span></th>
                                        <h4>{{ offre.description }}</h4>
                                        <th> <span> nom-abonnement:</span></th>
                                        <h4>{{ offre.getNomAbonnement.getNom() }}</h4>


                                    </div>
                                </div>
                            </div>

                              {#  <td>{{ offre.delai ? offre.delai|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ offre.nom }}</td>
                                <td>{{ offre.Description }}</td>
                                <td>{{ offre.getNomAbonnement.getNom()}}</td>#}


                        {% else %}
                            <h1>vide</h1>
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}


        </div>
    </div>
</section>

    {#   <a href="{{ path('abonnement_new') }}">Créer nouvelle</a>#}
    <form method="post" action="{{ path('abonnement_new') }}" >
    </form>

{% endblock %}
