{% extends 'base.front.html.twig' %}

{% block title %}Abonnement index{% endblock %}

{% block body %}
    <h1>Liste des abonnements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Categories</th>
                <th>Description</th>
                <th>image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.id }}</td>
                <td>{{ abonnement.nom }}</td>
                <td>{{ abonnement.prix }}</td>
                <td>{{ abonnement.categories }}</td>
                <td>{{ abonnement.description }}</td>
                <td><img style="width: 150px;" src="/uploads/{{ abonnement.photo }}"</td>
                <td>
  {#                       <a href="{{ path('abonnement_show', {'id': abonnement.id}) }}">Afficher</a>#}
                    {#  <a href="{{ path('abonnement_edit', {'id': abonnement.id}) }}">Modifier</a>#}

                    <form  action="{{ path('abonnement_show', {'id': abonnement.id})}}" >
                        <button type="submit" name="submitAction"  value="modifier" class="btn btn-info">Afficher</button>
                    </form>
                </td>
               <td>
                   <form method="post" action="{{ path('abonnement_edit', {'id': abonnement.id}) }}" >
                       <button type="btn" class="btn btn-warning"> {{ button_label|default('Modifier') }}</button>
                   </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     {#   <a href="{{ path('abonnement_new') }}">Créer nouvelle</a>#}
<form method="post" action="{{ path('abonnement_new') }}" >
<button type="btn" class="btn btn-success"> {{ button_label|default('Ajouter') }}</button>
</form>
    {% block b1 %}
        {% endblock %}
{% endblock %}
