{% extends 'base.front.html.twig' %}




    {% block b1 %}


    {% endblock %}
    {#{% block prix %}#}



{#{% block Produit %}#}
{#    <h1>Produits index</h1>#}

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Nom</th>#}
{#                <th>Prix</th>#}
{#                <th>Quantite</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for produit in produits %}#}
{#            <tr>#}
{#                <td>{{ produit.id }}</td>#}
{#                <td>{{ produit.nom }}</td>#}
{#                <td>{{ produit.prix }}</td>#}
{#                <td>{{ produit.quantite }}</td>#}
{#                <td>{{ produit.categories }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('produits_show', {'id': produit.id}) }}">show</a>#}
{#                    <a href="{{ path('produits_edit', {'id': produit.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="5">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('produits_new') }}">Create new</a>#}
{#{% endblock %}#}
