{% extends 'base.front.html.twig' %}

{% block b2 %}
{% endblock %}
{% block b1 %}
{% endblock %}
{% block a1 %}
{% endblock %}
{% block a2 %}
{% endblock %}
{% block a3 %}
{% endblock %}
{% block b3 %}
     {% block css %}
         {{ parent() }}
         <link rel="stylesheet" type="text/css" href="{{ asset('ReadmoreCss.css') }}">
     {% endblock %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2>Expert <em>Trainers</em></h2>
                <img src="{{ asset('assets/images/line-dec.png') }}" alt="">
                <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
            </div>
        </div>
    </div>
    <div>
        <input id="myInput" type="text" , placeholder="Search...." >

        {#<input id="check" type="checkbox" name="disponible" value="{{ date }}" placeholder="haha">
        <label for="disponible"> disponble</label>
        <div id="result" style="background: yellow;"></div>#}

    </div>

    <div class="row">
        {% for activity in activities %}
            {% set i =activity.getImages() %}

            {% set prt = activity.getRatings() %}
            {% set sommerate = 0 %}
            {% for p in prt %}
               {% set sommerate = sommerate + p.getRate()   %}
            {% endfor%}
            {% set rate = 0 %}
            {% if  activity.getRatings()|length !=0 %}
            {% set rate = sommerate / activity.getRatings()|length %}
           {# {% set rateapproche = rate | int  %}#}
            {% endif %}

        <div class="col-lg-4">
            <div class="trainer-item">
                <div class="image-thumb">
                    {% if i|length >0 %}

                    <img src="http://127.0.0.1:8000/uploads/{{ i[0].getImageUrl() }}" alt="">
                    {% else%}
                    <img src="http://127.0.0.1:8000/uploads/noimg.jpg" alt="">
                    {% endif %}


                </div>
                <div class="down-content">
                    <tr>
                        <td>
                            <span>{{ activity.getCategory.getNomCat() }}</span>
                        </td>
                        <td >

                    <span style="padding-left: 30%">

                            {% if rate ==0 %}
                                {% for i in 1..5 %}
                                    <i class="hover" style="color: black">&#9733;</i>

                                {% endfor %}
                            {% else %}

                                {% for i in 1..rate %}
                                    <i class="hover" style="color: gold">&#9733;</i>

                                {% endfor %}

                                {% if 5-rate !=0 %}
                                {% if rate |length ==1 %}
                                    {% for j in 1..5-rate %}
                                        <i class="star2" style="color: black" >&#9733;</i>
                                    {% endfor %}
                                {% else %}
                                    {% for l in 1..6-rate %}
                                        <i class="star2" style="color: black" >&#9733;</i>
                                    {% endfor %}

                                {% endif%}
                                {% endif %}
                            {% endif %}

                            <i style="font-size: large"> {{ rate }}</i>
                    </span>

                        </td>
                    </tr>









                    <h4>{{ activity.getNomAct() }}</h4>
                    <h6>{{ activity.getDateAct|date('Y-m-d') }}</h6>
                    <p>{{ activity.getDescriptionAct() }}</p>
                    <table>
                    <tr>
                        <td>
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/oussama.saddi.7/" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/o_sama2312/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                        </td>
                        <td>
                            <div class="stage">
                                <a class="lnkSchow" href="/activity/details/{{ activity.getId() }}">Read More</a>
                            </div>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div style="margin-left: 50%">
    {{ knp_pagination_render(activities) }}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $(".col-lg-4").filter(function() {
                 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                 });

            });
        });
    </script>
  {#  <script>
        $(document).ready(function(){
            $('input[type="checkbox"]').click(function(){
                var values = $(this).val().toLowerCase();
                if($(this).is(":checked")){
                    $(".col-lg-4 ").filter(function() {
                        $(this).toggle($(this).text().equalTo(values))
                    });
                }
                else if($(this).is(":not(:checked)")){
                    $("#result").html("Checkbox is unchecked.");
                }
            });
        });
    </script>#}
{% endblock %}
{% block b4 %}
{% endblock %}
