{% extends 'base.details.html.twig' %}
{% block tp %}
    <div style="background-color: gray ; width: 70px ; height: 30px ; align-items: center ;align-content: center">
        <a  href="/activitySchedule"><h5>Back</h5></a>
    </div>
    <div style="background-color: yellow ; width: 130px ; height: 30px ; align-items: center ;align-content: center">
        <a  href="/activity"><h5>Show More</h5></a>
    </div>

{% endblock %}
{% set i = activity.images  %}
{% block fimage %}

    {% if i|length >0 %}

        <img src="http://127.0.0.1:8000/uploads/{{ i[0].getImageUrl() }}" class="img-fluid" id="big_img" alt="">
    {% else%}
        <img src="http://127.0.0.1:8000/uploads/noimg.jpg" alt="">
    {% endif %}
{% endblock %}
{% block tit %}
    {{ activity.getNomAct() }}
{% endblock %}
{% block cat %}
    {{ activity.getCategory.getNomCat() }}
{% endblock %}
{% block dt %}
    {{ activity.getDateAct|date('Y-m-d') }} , {{ activity.getTempAct|date('H:m') }}
{% endblock %}
{% block des %}
    {{ activity.getDescriptionAct() }}
{% endblock %}
{% block pict %}
    {% for image in i %}
    <li>

            <img class="img-fluid" src="http://127.0.0.1:8000/uploads/{{ image.getImageUrl() }}" id="small_img" alt="">

    </li>
    {% endfor %}
{% endblock %}
{% block Exercice %}
    {% for e in activity.exercices %}
    <div class="media post_item">
        <img  style=" width:40%" src="http://127.0.0.1:8000/uploads/noimg.jpg"  alt="post">
        <div class="media-body">
            <a href="blog_details.html">
                <h3>{{ e.getNomExercice()}}</h3>
            </a>
            <p>{{ e.getDureExercice()}}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block jq %}

{% endblock %}