{% extends 'base.details.html.twig' %}
{% block tp %}
    <div style="background-color: gray ; width: 70px ; height: 30px ; align-items: center ;align-content: center">
        <a  href="/activitySchedule"><h5>Home</h5></a>
    </div>
    <div style="background-color: yellow ; width: 130px ; height: 30px ; align-items: center ;align-content: center">
        <a  href="/activity"><h5>Show More</h5></a>
    </div>

{% endblock %}
{% set i = activity.images  %}
{% block fimage %}

    {% if i|length >0 %}

       <img src="http://127.0.0.1:8000/uploads/{{ i[0].getImageUrl() }}" style="width: 100% ; height: 400px" class="img-fluid" id="big_img" alt="">
{#        <img src="http://127.0.0.1:8000/uploads/30e8f34236460ef32d5efbc1ed5df021.jpeg" class="img-fluid" id="big_img" alt="">#}
    {% else%}
        <img src="http://127.0.0.1:8000/uploads/noimg.jpg" alt="">
    {% endif %}
{% endblock %}
{% block Participe %}




{% endblock %}
{% block tit %}
    <table>
        <tr>
            <td>
                <h2>{{ activity.getNomAct() }}</h2>
            </td>
            <td style="padding-left: 400px">
                {% if userparticipated< activity.getQuantite%}

                    {% if not participe  %}
                        {{ form_start(btnParticipe,{'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_row(btnParticipe.Participe ,  { 'attr': {'class': ' button buttonparticipe'}})}}
                        {{ form_end(btnParticipe) }}
                    {% else %}
                        <button disabled class="button ">Participed</button>
                    {% endif %}
                {% else%}
                    <button disabled class="button1 ">No Place</button>
                {% endif %}
            </td>
        </tr>
    </table>

{% endblock %}
{% block cat %}
    {{ activity.getCategory.getNomCat() }}
{% endblock %}
{% block dt %}
    {{ activity.getDateAct|date('Y-m-d') }} , {{ activity.getTempAct|date('H:m') }}
{% endblock %}
{% block qt %}
   participer par : {{ userparticipated}} /{{ activity.getQuantite }}
{% endblock %}
{% block des %}
    {{ activity.getDescriptionAct() }}
{% endblock %}
{% block star %}
 <form action="{{ path('activityDetails',{'id':activity.getId}) }}" method="post">
    <div style="margin-left: 80%">
        {% if not heRated %}
        <input type="hidden" value="" id="ratenote" name="rate" />
        <button style="background: none ; border: none">


            <i class="star" data-note="1">&#9733;</i>
            <i class="star" data-note="2">&#9733;</i>
            <i class="star" data-note="3">&#9733;</i>
            <i class="star" data-note="4">&#9733;</i>
            <i class="star" data-note="5">&#9733;</i>
        </button>
        {% else %}
            {% for i in 1..didRated.getRate %}
                <i class="hover2" >&#9733;</i>
            {% endfor %}
            {% for j in 1..5-didRated.getRate %}
                <i class="star2" >&#9733;</i>
            {% endfor %}
        {% endif %}
    </div>
 </form>



{% endblock %}
{% block pict %}
   {% for image in i %}
    <li>

            <img class="img-fluid" style="height: 50% ; width: 100%" src="http://127.0.0.1:8000/uploads/{{ image.getImageUrl() }}" id="small_img" alt="">

    </li>
    {% endfor %}

{% endblock %}
{% block Exercice %}
    {% for e in activity.exercices %}
    <div class="media post_item">
        <img  style=" width:40%" src="http://127.0.0.1:8000/uploads/noimg.jpg"  alt="post">
        <div class="media-body">
            <a href="blog_details.html">
                <h3>{{ e.getNomExercice()}}</h3>
            </a>
            <p>{{ e.getDureExercice()}}</p>
        </div>
    </div>
    {% endfor %}
    <script>


        $(document).ready(function(){

            $(".img-fluid").click(function(){
                $("#big_img").attr('src',$(this).attr('src'));
            });
        });

    </script>
    <script>
        const stars =document.querySelectorAll('.star');
        let check = false;
        stars.forEach(star=>{
            star.addEventListener('mouseover',selectStars);
            star.addEventListener('mouseleave',unselectStars);

            star.addEventListener('click',activeSelect);



        })
        function selectStars(e){
            const data =e.target;
            const etoiles = priviousSiblings(data);
            if(!check){
                etoiles.forEach(etoile=>{
                    etoile.classList.add('hover');
                })
            }


        }
        function unselectStars(e){
            const data =e.target;
            const etoiles = priviousSiblings(data);
            if(!check){
                etoiles.forEach(etoile=>{
                    etoile.classList.remove('hover');
                })
            }

        }
        function priviousSiblings(data){
            let values=[data];
            while (data= data.previousSibling){
                if(data.nodeName ==='I'){
                    values.push(data);
                }
            }
            return values;
        }
        function  activeSelect(e){
            check=true;
           /* document.querySelector('.ratenote').innerHTML='Note: '+ e.target.dataset.note;*/
            document.getElementById("ratenote").value = e.target.dataset.note;

        }
    </script>

{% endblock %}

{% block c %}


{% endblock %}