{% extends 'base.details.html.twig' %}
{% block tp %}
    <div style="background-color: gray ; width: 70px ; height: 30px ; align-items: center ;align-content: center">
        <a  href="/activitySchedule"><h5>Home</h5></a>
    </div>
    <div style="background-color: yellow ; width: 130px ; height: 30px ; align-items: center ;align-content: center">
        <a  href="/activity"><h5>Show More</h5></a>
    </div>

{% endblock %}
{% set i = activity.images  %}
{% block fimage %}

    {% if i|length >0 %}

       <img src="http://127.0.0.1:8000/uploads/{{ i[0].getImageUrl() }}" style="width: 100% ; height: 400px" class="img-fluid" id="big_img" alt="">
{#        <img src="http://127.0.0.1:8000/uploads/30e8f34236460ef32d5efbc1ed5df021.jpeg" class="img-fluid" id="big_img" alt="">#}
    {% else%}
        <img src="http://127.0.0.1:8000/uploads/noimg.jpg" alt="">
    {% endif %}
{% endblock %}
{% block Participe %}




{% endblock %}
{% block tit %}
    <table>
        <tr>
            <td>
                <h2>{{ activity.getNomAct() }}</h2>
            </td>
            <td style="padding-left: 400px">
                {% if userparticipated< activity.getQuantite%}

                    {% if not participe  %}
                        {{ form_start(btnParticipe,{'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_row(btnParticipe.Participe ,  { 'attr': {'class': ' button buttonparticipe'}})}}
                        {{ form_end(btnParticipe) }}
                    {% else %}
                        <button disabled class="button ">Participed</button>
                    {% endif %}
                {% else%}
                    <button disabled class="button1 ">No Place</button>
                {% endif %}
            </td>
        </tr>
    </table>

{% endblock %}
{% block cat %}
    {{ activity.getCategory.getNomCat() }}
{% endblock %}
{% block dt %}
    {{ activity.getDateAct|date('Y-m-d') }} , {{ activity.getTempAct|date('H:m') }}
{% endblock %}
{% block qt %}
   participer par : {{ userparticipated}} /{{ activity.getQuantite }}
{% endblock %}
{% block des %}
    {{ activity.getDescriptionAct() }}
{% endblock %}
{% block pict %}
   {% for image in i %}
    <li>

            <img class="img-fluid" style="height: 50% ; width: 100%" src="http://127.0.0.1:8000/uploads/{{ image.getImageUrl() }}" id="small_img" alt="">

    </li>
    {% endfor %}

{% endblock %}
{% block Exercice %}
    {% for e in activity.exercices %}
    <div class="media post_item">
        <img  style=" width:40%" src="http://127.0.0.1:8000/uploads/noimg.jpg"  alt="post">
        <div class="media-body">
            <a href="blog_details.html">
                <h3>{{ e.getNomExercice()}}</h3>
            </a>
            <p>{{ e.getDureExercice()}}</p>
        </div>
    </div>
    {% endfor %}
    <script>
        // console.error("errrrr");
        // $(document).ready(function (){
        //     $("#bt").click(function (){
        //         $("h1").toggle();
        //
        //     });
        // });
        console.log("errrrr");
        $(document).ready(function(){
            console.log("errrrr");
            $(".img-fluid").click(function(){
                $("#big_img").attr('src',$(this).attr('src'));
            });
        });

    </script>

{% endblock %}

{% block c %}


{% endblock %}