<table border="1">
    <tr>
        <td>nom activitie</td>
        <td>date activite</td>
        <td>temps activite </td>
        <td>description </td>
        <td>category </td>

    </tr>
    {% for e in activities %}
        <tr>
            <td>{{ e.getNomAct()}}</td>
            <td>{{ e.getDateAct()|date('Y-m-d')}}</td>
          <td>{{ e.getTempAct()|date('H:i')}} </td>
            <td>{{ e.getDescriptionAct()}}</td>
            <td>{{ e.getCategory.getNomCat()}} </td>

        </tr>
    {% endfor %}
</table>