{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

<tr>
    <h3 style="color: #AA3333">nom:</h3>
    {{ form_widget(form.nom) }}
    {% if not form.nom.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form.nom) }}
        </div>
    {% endif %}
</tr>



{{ form_widget(form) }}
<br>
<button class="btn btn-success">{{ button_label|default('Ajouter type') }}</button>
{{ form_end(form) }}