<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Business HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('detail/assets/img/favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ asset('detail/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('detail/assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('detail/assets/css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ asset('detail/assets/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('detail/assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('detail/assets/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('detail/assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('detail/assets/css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('detail/assets/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('detail/assets/css/style.css') }}">
</head>

<body>
<div style="margin-top: 100px">
    {% block tp %}
    {% endblock %}
</div>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{{ asset('detail/assets/img/logo/loder.jpg') }}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start-->

<main>
    <!--? Hero Start -->

    <!-- Hero End -->
    <!--================Blog Area =================-->

    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        {% block fimage %} <img class="img-fluid"  src="{{ asset('detail/assets/img/blog/single_blog_1.png') }}" alt="">{% endblock %}
                    </div>
                    <div class="blog_details">

                        <h2>
                            {% block tit %}
                            Second divided from form fish beast made every of seas
                            all gathered us saying he our
                            {% endblock %}
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#">{% block cat %}<i class="fa fa-comments"></i> 03 Comments</a>{% endblock %}</li>
                            <li><a href="#">{% block dt %}<i class="fa fa-user"></i> Travel, Lifestyle</a>{% endblock %}</li>

                        </ul>


                        <div class="quote-wrapper">
                            <div class="quotes">
                                {% block des %}
                                MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                                should have to spend money on boot camp when you can get the MCSE study materials yourself at
                                a fraction of the camp price. However, who has the willpower to actually sit through a
                                self-imposed MCSE training.
                                {% endblock %}
                            </div>
                        </div>


                    </div>
                </div>


                <div class="comments-area">
                    <h4>05 Comments</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="{{ asset('detail/assets/img/comment/comment_1.png') }}" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                        Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Emilly Blunt</a>
                                            </h5>
                                            <p class="date">December 4, 2017 at 3:12 pm </p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">


                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">All Picture</h4>
                        <ul class="instagram_row flex-wrap">
                            {% block pict %}
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('detail/assets/img/post/post_5.png') }}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('detail/assets/img/post/post_6.png') }}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('detail/assets/img/post/post_7.png') }}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('detail/assets/img/post/post_8.png') }}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('detail/assets/img/post/post_9.png') }}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('detail/ssets/img/post/post_10.png') }}a" alt="">
                                </a>
                            </li>
                            {% endblock %}
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Exercice</h3>
                        {% block Exercice %}
                        <div class="media post_item">
                             <img  src="{{ asset('detail/assets/img/post/post_1.png')  }}"  alt="post">
                            <div class="media-body">
                                <a href="blog_details.html">
                                    <h3>From life was you fish...</h3>
                                </a>
                                <p>January 12, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{{ asset('detail/assets/img/post/post_2.png') }}" alt="post">
                            <div class="media-body">
                                <a href="blog_details.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{{ asset('detail/assets/img/post/post_3.png') }}" alt="post">
                            <div class="media-body">
                                <a href="blog_details.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{{ asset('detail/assets/img/post/post_4.png') }}" alt="post">
                            <div class="media-body">
                                <a href="blog_details.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                        {% endblock %}
                    </aside>


                </div>
            </div>
        </div>
    </div>

    <!--================ Blog Area end =================-->

</main>

<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
<script src="{{ asset('detail/assets/js/vendor/modernizr-3.5.0.min.js') }}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{{ asset('detail/assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
<script src="{{ asset('detail/assets/js/popper.min.js') }}"></script>
<script src="{{ asset('detail/assets/js/bootstrap.min.js') }}"></script>
<!-- Jquery Mobile Menu -->
<script src="{{ asset('detail/assets/js/jquery.slicknav.min.js') }}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
{% block jquery %}
<script src="{{ asset('detail/assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('detail/assets/js/slick.min.js') }}"></script>
{% endblock %}

<!-- One Page, Animated-HeadLin -->
<script src="{{ asset('detail/assets/js/wow.min.js') }}"></script>
<script src="{{ asset('detail/assets/js/animated.headline.js') }}"></script>
<script src="{{ asset('detail/assets/js/jquery.magnific-popup.js') }}"></script>
<!-- counter , waypoint -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="{{ asset('detail/assets/js/jquery.counterup.min.js') }}"></script>

<!-- Nice-select, sticky -->
<script src="{{ asset('detail/assets/js/jquery.nice-select.min.js') }}"></script>
<script src="{{ asset('detail/assets/js/jquery.sticky.js') }}"></script>

<!-- contact js -->
<script src="{{ asset('detail/assets/js/contact.js') }}"></script>
<script src="{{ asset('detail/assets/js/jquery.form.js') }}"></script>
<script src="{{ asset('detail/assets/js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('detail/assets/js/mail-script.js') }}"></script>
<script src="{{ asset('detail/assets/js/jquery.ajaxchimp.min.js') }}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{{ asset('detail/assets/js/plugins.js') }}"></script>
<script src="{{ asset('detail/assets/js/main.js') }}"></script>
<button href="" id="b" type="submit">bbb</button>
</body>

{#<script type="text/javascript">
    console.log("errrrr");
    $(document).ready(function(){
        console.log("errrrr");
        $("#small_img").click(function(){
            $("#img-fluid").attr('src',$(this).attr('src'));
        });
    });
</script>#}
<script type="text/javascript">
    console.log("errrrr");
    $(document).ready(function(){
        console.log("errrrr");

    });
</script>

</html>

