{% extends 'base.back.html.twig' %}
{% block body %}
<h1>add exercice</h1>
{#{{ form(formExercice) }}#}
{{ form_start(formExercice) }}
<table>
    <tr>
         <td>  {{ form_label(formExercice.nom_Exercice,"Nom Exercice")}}  </td>
        <td>  {{ form_errors(formExercice.nom_Exercice) }} </td>
        <td> {{ form_widget(formExercice.nom_Exercice)}}   </td>
    </tr>
    <tr>
        <td>  {{ form_label(formExercice.dure_Exercice,"Duree Exercice")}}  </td>
        <td>  {{ form_errors(formExercice.dure_Exercice) }} </td>
        <td> {{ form_widget(formExercice.dure_Exercice)}}   </td>
    </tr>
    <tr>
        <td>  {{ form_label(formExercice.description_Exercice,"Description Exercice")}}  </td>
        <td>  {{ form_errors(formExercice.description_Exercice) }} </td>
        <td> {{ form_widget(formExercice.description_Exercice)}}   </td>
    </tr>
    <tr>
        <td>  {{ form_label(formExercice.category,"Category")}}  </td>
        <td>  {{ form_errors(formExercice.category) }} </td>
        <td> {{ form_widget(formExercice.category)}}   </td>
    </tr>
    <tr>


    </tr>
</table>
 {{ form_widget(formExercice.Add)}}
{{ form_end(formExercice) }}
    <table border="1">
        <tr>
            <td>nom exercice</td>
            <td>dure exercice</td>
            <td>description </td>
            <td>category</td>
            <td>Action</td>

        </tr>
        {% for e in exercices %}
            <tr>
                <td>{{ e.getNomExercice()}}</td>
                <td>{{ e.getDureExercice()}}</td>
                <td>{{ e.getDescriptionExercice()}} </td>
                <td>{{ e.getCategory().getNomCat()}}</td>
                <td>
                    <a href="{{ path('ExerciceUpdate',{"id":e.getId}) }}"> Edit </a>
                    <a href="{{ path('ExerciceDelete',{"id":e.getId}) }}">Delete</a>

                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}