{% extends 'base.back.html.twig' %}
{% block body %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
            </div>
            <p style="margin-left: 950px">  <input type="text" id="myInput" class="form-control" placeholder="Chercher une exercice">
        </div>
    </div>
<table border="1" style="width: 100%" id="myTable">
    <tr>
        <th style="color: yellow">nom exercice</th>
        <th style="color: yellow">dure exercice</th>
        <th style="color: yellow" >description </th>
        <th style="color: yellow" >category</th>
        <th style="color: yellow">Action</th>

    </tr>
    {% for e in exercices %}
        <tr>
            <td>{{ e.getNomExercice()}}</td>
            <td>{{ e.getDureExercice()}}</td>
            <td>{{ e.getDescriptionExercice()}} </td>
            <td>{{ e.getCategory().getNomCat()}}</td>
            <td>
                <a href="{{ path('ExerciceUpdate',{"id":e.getId}) }}"> <i class="fa-solid fa-cog fa-spin"></i> </a>
                <a href="{{ path('ExerciceDelete',{"id":e.getId}) }}"><i class="fa-solid fa-xmark"></i></a>

            </td>
        </tr>
    {% endfor %}
</table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}