{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

<table>

                         <tr>
                         <th style="color: #98b6b4">Delai:</th>
                             <td> {{ form_widget(form.delai) }} </td>
                             <td> </td>
                             <td>
                                 {% if not form.delai.vars.valid %}
                                 <div class="alert alert-danger">
                                     {{ form_errors(form.delai) }}
                                 </div>

                                 {% endif %}
                             </td>
                         </tr>

                           <tr>
                               <th style="color:#98b6b4 ">Nom:</th>
                                <td>{{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder':'Entrer votre nom'}}) }} </td>
                           </tr>

    <tr>
                               <td></td>
                               <td>  {% if not form.nom.vars.valid %}
                                       <div class="alert alert-danger">
                                           {{ form_errors(form.nom) }}
                                       </div>

                                   {% endif %} </td>
                           </tr>
                        <tr>
                        <th style="color: #98b6b4">Description:</th>
                            <td>  {{ form_widget(form.Description,{'attr':{'class':'form-control','placeholder':'Entrer votre description'}}) }} </td>
                        </tr>
    <tr>
        <td> </td>
        <td>{% if not form.Description.vars.valid %}
            <div class="alert alert-danger">
                {{ form_errors(form.Description) }}
                         </div>
            {% endif %}
                        </td>
                        </tr>
    <tr>
        <th style="color: #98b6b4">Nom_Abonnement:</th>
        <td>  {{ form_widget(form.nom_abonnement) }} </td>
    </tr>
    <tr>
        <td></td>
        <td>  {% if not form.nom_abonnement.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form.nom_abonnement) }}
                </div>

            {% endif %} </td>
    </tr>


{{ form_widget(form) }}
{#  <button class="btn">{{ button_label|default('Send') }}</button>#}
</table>
<button type="btn" class="btn btn-primary"> {{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}


