{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                         <tr>
                         <th>Delai:</th>
                         {{ form_widget(form.delai) }}
                          {% if not form.delai.vars.valid %}
                              <div class="alert alert-danger">
                                  {{ form_errors(form.delai) }}
                              </div>
                           </tr>
                          {% endif %}
                           <tr>
                               <th>Nom:</th>
{{ form_widget(form.nom) }}
                          {% if not form.nom.vars.valid %}
                              <div class="alert alert-danger">
                                  {{ form_errors(form.nom) }}
                              </div>

                          {% endif %}
                           </tr>
                        <tr>
                        <th>Description:</th>
 {{ form_widget(form.Description) }}
                          {% if not form.Description.vars.valid %}
                              <div class="alert alert-danger">
                                  {{ form_errors(form.Description) }}
                              </div>
                        </tr>
                          {% endif %}


{{ form_widget(form) }}
{#  <button class="btn">{{ button_label|default('Send') }}</button>#}
<button type="btn" class="btn btn-primary"> {{ button_label|default('Envoyer') }}</button>

{{ form_end(form) }}
