{% extends 'base.back.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1 style="color: #d5606e">Liste des offres</h1>
    <p style="margin-left: 950px"> <input  id="myInput"  type="text" placeholder="Rechercher..">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Delai</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Nom-Abonnement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <tbody  id="myTable">
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.delai ? offre.delai|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offre.nom }}</td>
                <td>{{ offre.Description }}</td>
                <td>{{ offre.getNomAbonnement.getNom()}}</td>
                <td>
                   {#  <a href="{{ path('offre_show', {'id': offre.id}) }}">afficher</a>

                    <a href="{{ path('offre_edit', {'id': offre.id}) }}">Modifier</a>#}
                    <form  action="{{ path('offre_show', {'id': offre.id})}}" >
                        <button type="submit" name="submitAction"  value="modifier" class="btn btn-info">Afficher</button>
                    </form>
                </td>
                <td>
                    <form  action="{{ path('offre_edit', {'id': offre.id})}}" >
                        <button type="submit" name="submitAction"  value="modifier" class="btn btn-warning">Modifier</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        {{ knp_pagination_render(offres) }}
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{#    <a href="{{ path('offre_new') }}">Créer nouveau</a>#}
    <form method="post" action="{{ path('offre_new') }}" >
        <button type="btn" class="btn btn-success"> {{ button_label|default('Ajouter') }}</button>
    </form>

    <button  class="btn btn-info mr-2" onclick="window.print()" ><i class="fa fa-print" aria-hidden="true"></i></i>  Imprimer</button>
{% endblock %}
